{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" href="/assets/css/prism-1.29.css">
<link href="//{{host}}/atom.xml" rel="alternate" title="Atom" type="application/atom+xml" />
{% endblock %}

{% block content %}
{% if notes.is_empty() %}
<section>
    <aside>Nothing here yet.</aside>
</section>
{% endif %}
{% for n in notes %}
<section>
    <aside>
        {{ n.to_html() | safe }}
        <p><small><a href="/note/{{n.note_id}}">{{n.created_at|to_local_tz}}</a></small></p>
    </aside>
</section>
{% endfor %}
<section>
    {% for d in newer %}
    <a href="/notes/{{d.year()}}/{{d.month()}}">newer</a>&nbsp;
    {% endfor %}
    {% for d in older %}
    <a href="/notes/{{d.year()}}/{{d.month()}}">older</a>
    {% endfor %}
</section>
{% endblock %}

{% block tail %}
<script src="/assets/js/prism-core-1.29.min.js"></script>
<script src="/assets/js/prism-autoloader-1.29.min.js"></script>
{% endblock %}