{% extends "layout.html" %}

{% block title %}{{title}}{% endblock %}

{% block head %}
{%- if notes.len() == 1 -%}
{%- for note in notes -%}
<meta name="description" content="{{note.description()}}">

<meta property="og:url" content="{{note|to_note_url(base_url)}}">
<meta property="og:type" content="website">
<meta property="og:title" content="{{title}}">
<meta property="og:description" content="{{note.description()}}">

<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="{{base_url.host().unwrap()}}">
<meta property="twitter:url" content="{{note|to_note_url(base_url)}}">
<meta name="twitter:title" content="{{title}}">
<meta name="twitter:description" content="{{note.description()}}">

{% for img in note.images(base_url) %}
<meta property="og:image" content="{{img}}">
<meta name="twitter:image" content="{{img}}">
{% endfor %}
{%- endfor -%}
{%- endif -%}

<link href="{{base_url|to_atom_url}}" rel="alternate" title="Atom" type="application/atom+xml" />
{% endblock %}

{% block nav %}
<ul>
    <li>
        <details role="list">
            <summary aria-haspopup="listbox" role="link">Archives</summary>
            <ul role="listbox">
                {% for d in weeks %}
                <li>
                    <a href="{{d.start|to_weekly_url(base_url)}}">
                        {{d.start}} to {{d.end}}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </details>
    </li>
</ul>
{% endblock %}

{% block content %}
{% if notes.is_empty() %}
<section>
    <aside>Nothing here yet.</aside>
</section>
{% endif %}
{% for n in notes %}
<article>
    <div class="content">
        {{ n.to_html() | safe }}
    </div>
    <footer>
        <a href="{{n|to_note_url(base_url)}}">
            <time datetime="{{n.created_at.to_rfc3339_opts(chrono::SecondsFormat::Secs, true)}}">
                {{n.created_at|to_local_tz}}
            </time>
        </a>
    </footer>
</article>
{% endfor %}
{% endblock %}

{% block footer %}
<p>
    <small>Copyright &copy; 2022 {{author}}</small>
</p>
{% endblock %}