<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Example</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>

<body>
    <h1>Content</h1>

    {% for c in feed %}
    {% match c %}
    {% when Content::Note with (n) %}
    <div>
        <code>{{n.note_id}}</code>
        {{ n.to_html() | safe }}
    </div>
    {% when Content::Link with (l) %}
    <div>
        <code>{{l.link_id}}</code>
        <a href="{{l.url}}">{{l.title}}</a>
        {% for d in l.description %}
        <p>{{d}}</p>
        {% endfor %}
    </div>
    {% endmatch %}

    {% endfor %}

</body>

</html>