<!DOCTYPE html>
<html lang="en" color-mode="user">

<head>
    <title>Yellhole</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta charset='utf-8'>
    <link rel="stylesheet" href="/assets/css/mvp-1.12.css">
    {% block head %}{% endblock %}
    <style type="text/css">
        :root {
            --width-card: var(--width-card-medium);
        }
    </style>
</head>

<body>
    <header>
        <nav>
            <h1><a href="/">Yellhole</a></h1>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>
            <small>Copyright &copy; 2022 Coda Hale</small>
        </p>
    </footer>

    {% block tail %}{% endblock %}
</body>

</html>