<!DOCTYPE html>
<html lang="en" color-mode="user">

<head>
    <title>{% block title %}Yellhole{% endblock %}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta charset='utf-8'>
    <link rel="stylesheet" href="/assets/css/mvp-1.12.css">
    {% block head %}{% endblock %}
    <style type="text/css">
        :root {
            --width-card: var(--width-card-medium);
        }

        nav {
            margin-bottom: 0;
        }

        blockquote {
            border-left: 3px solid gray;
            font-size: large;
            padding: 0 1rem;
            text-align: unset;
        }
    </style>
</head>

<body>
    <header>
        <nav>
            <h1><a href="/">{% block title %}Yellhole{% endblock %}</a></h1>
            {% block nav %}{% endblock %}
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        {% block footer %}{% endblock %}
    </footer>

    {% block tail %}{% endblock %}
</body>

</html>