<!DOCTYPE html>
<html lang="en" color-mode="user">

<head>
    <title>{% block title %}Yellhole{% endblock %}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta charset='utf-8'>
    <link rel="stylesheet" href="/assets/css/mvp-1.12.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    {% block head %}{% endblock %}
    <style type="text/css">
        :root {
            --width-card: var(--width-card-medium);
        }

        nav {
            margin-bottom: 0;
        }

        blockquote {
            border-left: 3px solid var(--color-text-secondary);
            font-size: large;
            padding: 0 1rem;
            text-align: unset;
        }
    </style>
</head>

<body>
    <header>
        <nav>
            <a href="/"><img src="/assets/img/logo.webp" alt="YH"></a>
            <h1>{% block title %}Yellhole{% endblock %} <small>[obscurantist filth]</small></h1>
            {% block nav %}{% endblock %}
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        {% block footer %}{% endblock %}
    </footer>

    {% block tail %}{% endblock %}
</body>

</html>