<!DOCTYPE html>
<html lang="en" color-mode="user">

<head>
    <title>Yellhole</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta charset='utf-8'>
    <link rel="stylesheet" href="https://unpkg.com/mvp.css@1.12/mvp.css">
</head>

<body>
    <header>
        <h1>Yellhole</h1>
    </header>
    <main>
        <section>
            <form action="/admin/new-note" method="post">
                <header>
                    <h2>New Note</h2>
                </header>
                <textarea cols="40" rows="5" id="body" name="body" placeholder="It'sa me, _Mario_."></textarea>
                <button type="submit">Post</button>
            </form>
        </section>
    </main>
    <footer>
        <p>
            <small>Copyright &copy; 2022 Coda Hale</small>
        </p>
    </footer>
</body>

</html>