name: Rust CI

on:
  push:
    branches:
      - "main"
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: "Install ImageMagick"
        run: sudo apt-get install imagemagick -y && magick --version
      - uses: actions/checkout@v3
        name: "Checkout source"
      - uses: actions-rs/toolchain@v1.0.7
        name: "Install Rust"
        with:
          profile: default
          toolchain: stable
          override: true
      - uses: Swatinem/rust-cache@v2
        name: "Cache dependencies"
      - uses: actions-rs/cargo@v1.0.3
        name: "Build, test, and check"
        with:
          command: xtask
          args: ci
